[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.6.0"
pandas = "==1.5.1"
openpyxl = "==3.0.10"
xlsxwriter = "==3.0.3"
aiohttp = "==3.8.3"

[dev-packages]

[requires]
python_version = "3.11"
